<!-- start custom footer snippets -->
<div style="margin:0 auto; padding:0.5em 0;">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=15020402000220" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;font-size: 0.6em;"><img src="/assets/images/beian.png" style="float:left;display:inline-block;">蒙公网安备 15020402000220号</a>
    <a href="https://beian.miit.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;font-size: 0.6em;">蒙ICP备2021000661号</a>
</div>
<!-- end custom footer snippets -->