<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" sizes="16x16" href="/assets/images/favicon-16x16.png">
<link rel="icon" sizes="32x32" href="/assets/images/favicon-32x32.png">
<link rel="icon" sizes="96x96" href="/assets/images/favicon-96x96.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
<script type="text/javascript" async defer>window.$crisp=[];window.CRISP_WEBSITE_ID="d14b892c-b2e9-4f9b-8321-03bdc3fd840b";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<script>(function(){var c=document.createElement("script");var b=window.location.protocol.split(":")[0];if(b==="https"){c.src="https://zz.bdstatic.com/linksubmit/push.js"}else{c.src="http://push.zhanzhang.baidu.com/push.js"}var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(c,a)})();</script>
<!-- end custom head snippets -->